<div class="card col-6" style="width: 18rem; margin-top: 15px;margin-bottom: 15px;">
    <div class="card-body">
        <post-header title={{this.post.title}} author={{this.post.author}} authorImgSrc={{this.post.authorImgSrc}}></post-header>
        <p class="card-text">{{this.post.postText}}</p>
        <a href="{{this.post.postMediaSrc}}">{{this.post.postMediaSrc.includes("gallery")?"Gallery: "+this.post.postMediaSrc:""}}</a>
        <img width="250" height="200" src="{{this.post.postMediaSrc}}" class="float-left" onerror="this.style.display='none'">
        <post-footer ups={{this.post.likes}} downs={{this.post.dislikes}}></post-footer>
    </div>
</div>