<div class="container">
    <div class="row">
        <div class="col-10 p-0">
            <input class="form-control mr-sm-2 col-10 search-bar" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-2">
            <button class="btn  col-2 search-button" (click)="this.makeRequest()"><img width="30" height="30" src="../../../../assets/search.png"></button>
        </div>
    </div>
</div>
<div>
    <div *ngIf="this.requestMade">
        <app-post-producer [posts]="postsArray"></app-post-producer>
    </div>
</div>